html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  background-color: rgb(176, 243, 202);
  }

  p {
    padding: 20px;
  }



  @media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  header {
    width: 100%;
    display: flex;
    background-color: rgb(233, 233, 233);
    font-size: 1.2rem;
  }

  header p {
    width: 100%;
    text-align: center;
  }

  nav {
    display: none
  }

  h1 {
    text-align: center;
  }

  .asides {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: 20px;
  }

  .aside-one, .aside-two {
    margin-left: 20px;
  }
}



@media screen and (min-width: 600px) {
  .container {
    flex-direction: column;
    padding: 20px;
    flex-wrap: nowrap;
  }

  header {
    width: 100%;
    display: flex;
    background-color: rgb(233, 233, 233);
    justify-content: space-between;
  }

  header p {
    width: 50%;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-right: 10px;
  }

  h1 {
    text-align: center;
  }

  .asides {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: 20px;
  }

  .aside-one, .aside-two {
    margin-left: 20px;
  }

  .aside-two {
    margin-bottom: 20px;
  }

  article {
    margin-top: 20px;
  }
}