.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left:50px;
  }
  
  .baloon {
    position: absolute;
    top: 10px;
    left:500px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 520px;
    top: 50px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 800px;
    
  }